[Desktop Entry]
Encoding=UTF-8
Name=mousetweaks
TryExec=mousetweaks --ssc --ssc-time=1.0 -t 30
Exec=mousetweaks --ssc --ssc-time=1.0 -t 30
Terminal=false
Type=Application