[Desktop Entry]
Type=Application
Categories=Easy_pwn;
Icon=XX_ICON_XX
#Icon=icon-launcher-shell
Exec=fingerterm -e 'echo -e "\n  [ easy_pwn : XX_NAME_XX ]\n";devel-su XX_PWNPATH_XX/easy_pwn.sh desktop XX_CHROOTPATH_XX'
Name=XX_NAME_XX
X-Nemo-Single-Instance=no
Terminal=false
